{% extends "base.html" %}

{% block content %}

<div class="loginForm">
  <!-- Main h1 for the login page -->
  <h2>Login</h2>
  <!-- Register Form -->
  <form method="POST">
    <!-- Email Section -->
    <div class="form-row">
      <label for="email">Email: </label>
      <input type="email" id="email" name="email" required>
    </div>
    <!-- Password Section -->
    <div class="form-row">
      <label for="password">Password: </label>
      <input type="password" id="password" name="password" required>
    </div>
    <!-- Submit Section -->
    <div class="form-row">
      <!-- Submit Button -->
      <button type="submit" id="submit-button">Add</button>
    </div>
    <!-- Link to register page -->
    </form>
</div>

{% endblock %}


