{% extends 'base.html '}

{% block content %}

  <h1>Pantry</h1>
  
  <table>
    <thead>
      <th>Ingredient</th>
      <th>Actions</th>
    </thead>
    <tbody id="pantry-table-body">
      {% for item in ingredients %}
      <tr data-id="{{item.id}}">
          <td>{{ item.ingredient }}</td>
          <td>
            <button type="button" class="delete-button" data-id="{{ item.id }}">&times;</button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <form id="pantry_form" method="POST" action="/pantry/add-ingredient">
    <input type="text" name="ingredient" required>
    <button type="submit">Submit</button>
  </form>

{% endblock %}
