{% extends "base.html" %}

{% block content %}

<div class="registerForm">
  <!-- Main h1 for the register page -->
  <h2>Register</h2>
  <!-- Register Form -->
  <form method="POST" action="/register/newUser">
    <!-- Email Section -->
    <div class="form-row">
      <label for="email">Email: </label>
      <input type="email" id="email" name="email" required>
    </div>
    <!-- Password Section -->
    <div class="form-row">
      <label for="password">Password: </label>
      <input type="password" id="password" name="password" required>
    </div>
    <!-- Confirm Password Section -->
    <div class="form-row">
      <label for="confirmPassword">Confirm Password: </label>
      <input type="password" id="confirmPassword" name="confirmPassword" required>
    </div>
    <!-- Submit Section -->
    <div class="form-row">
      <!-- Submit Button -->
      <button type="submit" id="submit-button">Add</button>
    </div>
    <!-- Link to login page -->
    <p>Already have an account? <a href="/">Login here</a></p>
    </form>
</div>

{% endblock %}


